.popup {
    position: relative;
    display: inline-block;
    z-index: 1;
    top: 20px; /* Adjust the distance from the top */
    right: 20px; /* Adjust the distance from the right */
}

.popup .popuptext {
    visibility: hidden;
    max-width: 50%; /* Set a maximum width for the pop-up */
    max-height: 80%;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 16px; /* Add padding around the pop-up content */
    font-size: 12px; /* Adjust the font size as needed */
    white-space: pre; /* Preserve tabs and newlines exactly */
    word-wrap: break-word; /* Wrap long words */
    overflow: auto;
    position: fixed; /* Use fixed positioning to make it stay within the viewport */
    z-index: 1;
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
}

.popup .popuptext::after {
    position: fixed;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

.popupdiv {
    border-right: 20px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}