#navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
	overflow: hidden;
	display: inline;
}

#navigation a {
	background-color: black;
	color: white;
	text-align: center;
	padding: 14px;
	display: inline;
	text-decoration: none;
}

#navigation a.active {
	background-color: #6DD020;
}

#navigation li {
	float: right;
}

#navigation a:hover {
	background-color: #111;
}

body {
    margin: 20;
    padding: 20;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;    
}

img {
    border-style: solid;
    width: 30%;
    height: 30%;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    width: 50%;
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.close {
    float: right;
    cursor: pointer;
}

#data-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

#data-table th, #data-table td {
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
}

#data-table th {
    background-color: #f2f2f2;
}